@import "bootstrap/scss/_functions.scss";
@import "bootstrap/scss/_variables.scss";
@import "bootstrap/scss/_maps.scss";
@import "bootstrap/scss/_mixins.scss";
@import "bootstrap/scss/_root.scss";

#last_time {
    white-space: nowrap; // don't split timestamp over line
}

#the_table {
    max-width: 10cm;

    tbody {
        counter-reset: rowNumber;

        tr {
            &:nth-child(1) {
                --gold-color: #{$yellow-300};
                --bs-table-bg: var(--gold-color);
                --bs-table-striped-bg: var(--gold-color);
            }
            &:nth-child(2) {
                --silver-color: #{$gray-500};
                --bs-table-bg: var(--silver-color);
                --bs-table-striped-bg: var(--silver-color);
            }
            &:nth-child(3) {
                --bronze-color: #{$orange-300};
                --bs-table-bg: var(--bronze-color);
                --bs-table-striped-bg: var(--bronze-color);
            }
            td:first-child::before {
                counter-increment: rowNumber;
                content: counter(rowNumber) ".";
            }
        }
    }
}

@include color-scheme(dark) {
    // heck it, invert the whole page
    body {
        filter: invert(100%) hue-rotate(180deg);
    }
    // and manually fix colours (the ones written here will be inverted!)
    #the_table tbody tr {
        &:nth-child(1) {
            --gold-color: #{$yellow-700};
            --bs-table-color: white;
            --bs-table-striped-color: white;
        }
    }
}