name: Publish Website

on:
  workflow_dispatch:
  push:
    branches: # triggers on any push to master
    - main
  workflow_run:
    workflows: ["Update Leaderboards w/ Latest Framecounts"]
    branches: [main]
    types: 
      - completed

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2-beta
      with:
        node-version: '12'
    - name: Cache + Install
      uses: bahmutov/npm-install@v1
    - name: Test
      run: npm run test --if-present
    - name: Build
      run: npm run build --if-present
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./dist
        cname: recipesatho.me
        user_name: 'John TAS'
        user_email: 'completethegameathighvelocity@github.com'  
